version: "3.7"

services:
  db:
    image: postgres:12.2
    container_name:  Tmpl-Postgress
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      PGDATA: /var/lib/postgresql/data
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "2001:5432"

  pgadmin:
    image: dpage/pgadmin4:4.18
    container_name:  Tmpl-PgAdmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@linuxhint.com
      PGADMIN_DEFAULT_PASSWORD: secret
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "2002:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    links:
      - "db:pgsql-server"

  backend:
    build: .
    container_name: Tmpl-FastApi
    command: bash -c "uvicorn app.main:app --host 0.0.0.0 --port 80 --reload"
    volumes:
      - .:/src
    ports:
      - 2003:80
    depends_on:
      - db 


volumes:
  db-data:
  pgadmin-data:

